<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - DDVTracker</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/DDVTracker.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-md navbar-toggleable-md navbar-light bg-white border-bottom box-shadow">
            <div class="container-fluid">
                <div class="row container-fluid">
                    <div class="col-2">
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                                aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                    </div>
                    <div class="col">
                        <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                            <img src="images/Icons/ICODDVTracker.webp" alt="Disney Dreamlight Valley Tracker Icon" />
                        </a>
                    </div>
                    <div class="col col-md-2">
                        <button class="navbar-toggler d-md-none" type="button" data-bs-toggle="collapse" data-bs-target="#loginPartial" aria-controls="loginPartial"
                                aria-expanded="false" aria-label="Toggle navigation">
                            <span><i class="bi bi-person-lines-fill"></i></span>
                        </button>
                        <div class="collapse navbar-collapse d-none d-md-block" id="loginPartial">
                            <partial name="_LoginPartial" />
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </header>

    <div class="container">
        <div class="row">
            <div class="col-2 sidebar d-none d-md-block">
                <!-- Sidebar navigation -->
                <nav>
                    <ul>
                        <li><a href="/">Home</a></li>
                        <li><a href="/About">My Valley</a></li>
                        <li>
                            <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed" data-bs-toggle="collapse" data-bs-target="#collections-collapse" aria-expanded="false">
                             Collections
                            </button>
                            <div class="collapse" id="collections-collapse">
                                <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                                    <li><a href="#" class="link-dark d-inline-flex text-decoration-none rounded">Characters</a></li>
                                    <li><a href="#" class="link-dark d-inline-flex text-decoration-none rounded">Critters</a></li>
                                    <li><a href="#" class="link-dark d-inline-flex text-decoration-none rounded">Fish</a></li>
                                    <li><a href="#" class="link-dark d-inline-flex text-decoration-none rounded">Ingredients</a></li>
                                    <li><a href="#" class="link-dark d-inline-flex text-decoration-none rounded">Recipes</a></li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </nav>
            </div>
            <main role="main" class="col-md-10 py-3">
                @RenderBody()
            </main>
        </div>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            Copyright @@ @DateTime.Now.Year - DDVTracker - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
