
<ul class="navbar-nav">
    <li><a href="/">Home</a></li>
    <li><a href="/About">My Valley</a></li>
    <li><a type="button" data-bs-toggle="collapse" data-bs-target="#collections-collapse" aria-expanded="false">
            Collections
        </a>
        <div class="collapse" id="collections-collapse">
            <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                <li><a asp-area="" asp-controller="Characters" asp-action="Index" 
                    class="link-dark d-inline-flex text-decoration-none rounded">Characters</a></li>
                <li><a href="#" class="link-dark d-inline-flex text-decoration-none rounded">Critters</a></li>
                <li><a href="#" class="link-dark d-inline-flex text-decoration-none rounded">Fish</a></li>
                <li><a href="#" class="link-dark d-inline-flex text-decoration-none rounded">Ingredients</a></li>
                <li><a href="#" class="link-dark d-inline-flex text-decoration-none rounded">Recipes</a></li>
            </ul>
        </div>
    </li>
</ul>
