@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-10 text-center">
            <img class="img-fluid" src="images/Icons/DDVTracker_Logo.webp" alt="Disney Dreamlight Valley Tracker Icon" />
            <h1 class="display-4">Welcome!</h1>
            <p>
                Anyone may use this site to look up information about the in-game Collections of Disney Dreamlight Valley,
                but registered users may also save and track their personal progress. It is meant to be a companion and offer
                more user-friendly navigation than the in-game menus and to be a reference that won't take away from gameplay.
            </p>
        </div>
    </div>
    <div class="row justify-content-center text-center">
            <h2 class="collections">Collections</h2>
            <div class="grid">
                <div class="tile"><img src="images\Icons\ICOcharacters.webp"/>Characters</div>
                <div class="tile"><img src="images\Icons\ICOcritters.webp" />Critters</div>
                <div class="tile"><img src="images\Icons\ICOgems.webp" />Gems</div>
                <div class="tile"><img src="images\Icons\ICOfish.webp" />Fish</div>
                <div class="tile"><img src="images\Icons\ICOforage.webp" />Ingredients</div>
                <div class="tile"><img src="images\Icons\ICOmeals.webp" />Meals</div>
            </div>
</div>
