@model DDVTracker.Models.Meal

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Meal</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="MealId" />
            <div class="form-group">
                <label asp-for="GameVersionId" class="control-label"></label>
                <select asp-for="GameVersionId" class="form-control" asp-items="ViewBag.GameVersionId"></select>
                <span asp-validation-for="GameVersionId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MealName" class="control-label"></label>
                <input asp-for="MealName" class="form-control" />
                <span asp-validation-for="MealName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MealType" class="control-label"></label>
                <input asp-for="MealType" class="form-control" />
                <span asp-validation-for="MealType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="Ingredients" class="control-label">Ingredients</label>
                <select asp-for="SelectedIngredientIds" class="form-control" asp-items="ViewBag.Ingredients" multiple="multiple"></select>
            </div>
            <div class="form-group">
                <label asp-for="SellsFor" class="control-label"></label>
                <input asp-for="SellsFor" class="form-control" />
                <span asp-validation-for="SellsFor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Energy" class="control-label"></label>
                <input asp-for="Energy" class="form-control" />
                <span asp-validation-for="Energy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
