html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: #A2B3F3;
}

.container {
    margin-left: 0;
}

a {
    text-decoration: none;
    color: black;
}

/* Layout the sidebar and main content */
.sidebar {
    height: 100vh;
    background-color: #425499;
}

    /* Style the navigation links */
    .sidebar nav ul {
        list-style-type: none;
        padding: 0;
        color: #A2B3F3;
    }

        .sidebar nav ul li a {
            display: block;
            padding: 10px;
            text-decoration: none;
            color: white;
        }

            .sidebar nav ul li a:hover {
                background-color: #ddd;
                color: black;
            }

.overlay-menu {
    position: fixed; /* Sit on top of the page content */
    z-index: 1000; /* Ensure it's above other content */
    background-color: white; /* Or any color you want */
}

/*Homepage */
.grid {
    display: grid;
    width: 440px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 10px;
}

.tile {
    background-color: #ddd;
    width: 140px;
    align-content:center;
    padding: 20px;
    border-radius: 10px;
}

    .tile:hover {
        background-color: #ccc;
        box-shadow: inset -3px -3px 7px rgba(255, 255, 255, 0.05), inset 3px 3px 5px rgba(0, 0, 0, 0.15);
    }

/* Collection views */
    .card {
        background-color: transparent;
        width: 220px ;
    }
}